@model Application.ViewModels.RegisterViewModel
@{
    ViewData["Title"] = "Register";
}

<h1>Success Register</h1>
<div class="alert alert-success">
    <h2>@Model.UserName</h2>
    <p>You have been registered successfully </p>
</div>