html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.course-content {
    padding: 24px;
}
.course-image {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 230px;
    width: 230px
}
.course-image-container {
    padding: 8px;
    background: #fff;
    border-radius: 2px;
    display: inline-block;
    height: 250px;
    width: 250px;
    margin: 12px;
    position: relative;
    box-shadow: 0 10px 18px rgba(0, 0, 0, 0.2), 0 5px 5px rgba(0, 0, 0, 0.2);
}